//шрифты
$fs-logo: 20px;

$fs-decktop-card-subtitle: 25px;
$fs-decktop-card-text: 20px;
$fs-decktop-card-sysreq: 12px;

$fs-decktop-blog: 25px;


//цвета
$red: #A73535;
$red-light: rgba(167, 53, 53, 0.3);
$header-footer: #161B1D;
$background: #262A2C;
$gameList: #1E2224;
$border: #A6AAAD;
$border-blue: #1F4172;
$border-blue-background: rgba(31, 65, 114, 0.30);
$green-light: rgba(74, 186, 6, 0.3);


$white: #EFF0F0;
$white-light: rgba(239, 240, 240, 0.20);

$border: rgba(239, 240, 240, 0.2);
$border-active: rgba(31, 65, 114, 1);

