*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

a {
  text-decoration: none;
  color: #EFF0F0;
}


svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}


